a,
a:hover,
a:focus {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgba(0, 0, 0, 0.37);
    margin: 0;
    font-size: 10px;
}


/* PAGES BG*/

.page-bg {
    display: block;
}

.page-bg-mobile {
    display: none;
}

img.page-bg {
    height: 100%;
    min-width: 1500px;
    width: 100%;
}

img.page-bg-mobile {
    height: 100%;
    width: 100%;
    min-width: 450px;
}


/*Fonts*/

@font-face {
    font-family: CliveBarker;
    src: url("http://artemdesign.com/CliveBarker.ttf");
}


/*MENU*/

footer.navmenu {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 23%;
    width: 100%;
    background-image: url("../img/menu/whitebg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

footer.navmenu.active {
    z-index: 3;
}

footer.navmenu .logo {
    position: fixed;
    bottom: 0;
    height: 22%;
    z-index: 3;
    display: block;
}

footer.navmenu .logo-mobile {
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: none;
}

footer.navmenu .logo a {
    height: 220px;
    margin-top: 20px;
    display: block;
}

footer.navmenu .cartoon {
    position: fixed;
    bottom: 0;
    height: 40%;
    right: 10px;
    z-index: 3;
    display: block;
}

.cartoon-mobile {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 3;
    display: none;
}

.nav-button {
    bottom: 0;
    right: 10px;
    z-index: 4;
    height: 10%;
    position: fixed;
}

.nav-button.active {
    top: 20px;
    right: 10px;
    z-index: 4;
    height: 10%;
    position: absolute;
}

.nav-button.mobile,
.nav-button.active.mobile {
    height: auto;
    display: none;
}

.description {
    left: 13%;
    right: 20%;
    margin: 0 auto;
    height: 23%;
    font-family: CliveBarker;
    line-height: 30vh;
    text-align: center;
    font-size: 5em;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.description .previous,
.description .next {
    position: absolute;
    margin: auto 0;
    top: 20%;
    height: 23%;
    bottom: 0;
    cursor: pointer;
}

.description .previous {
    left: 0;
}

.description .next {
    right: 0;
}

footer.navmenu .list .menu {
    position: absolute;
    right: 15px;
    top: 20px;
}


/* hide menu button when footer is expanded*/

footer.navmenu.animating > .nav-button,
footer.navmenu.active > .nav-button {
    display: none;
}

footer.navmenu .list {
    z-index: 1;
    list-style: none;
    font-family: CliveBarker;
    font-size: 5em;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/menu/bg_full.png");
    margin: 0;
    padding: 0;
    padding-top: 65px;
    text-align: center;
}

footer.navmenu .list > li {
    height: 2.4em;
    line-height: 2em;
    width: 100%;
    display: inline-block;
}

footer.navmenu .list li:hover:before {
    content: url("../img/menu/dot-left.png");
    margin-right: 5%;
    position: relative;
}

footer.navmenu .list li:hover:after {
    content: url("../img/menu/dot-right.png");
    margin-left: 5%;
    position: relative;
}

footer.navmenu .list li:active:before,
footer.navmenu .list .submenu li:hover:before,
footer.navmenu .list li.expanded:before {
    content: url("../img/menu/dot-white-left.png");
    margin-right: 5%;
    position: relative;
}

footer.navmenu .list li:active:after,
footer.navmenu .list .submenu li:hover:after,
footer.navmenu .list li.expanded:after {
    content: url("../img/menu/dot-white-right.png");
    margin-left: 5%;
    position: relative;
}

footer.navmenu .list > li:active,
footer.navmenu .list li.expanded {
    background-image: url("../img/menu/menu_pink.png");
    background-repeat: no-repeat;
    background-size: 70% 130%;
    background-position: center;
}

footer.navmenu .list li:active a,
footer.navmenu .list li.expanded a {
    color: white;
}

footer.navmenu .list li img {
    height: 0.7em;
    content: url("../img/menu/down.png");
}

footer.navmenu .list li img:after {
    height: 0.7em;
    content: url("../img/menu/down.png");
}

footer.navmenu .list li img.expanded {
    content: url("../img/menu/up.png");
}

footer.navmenu .list li img.expanded:after {
    content: url("../img/menu/up.png");
}

footer.navmenu .list li img {
    cursor: pointer;
    margin-left: 10px;
}

footer.navmenu .list li img:after {
    position: relative;
    top: 8px;
}

footer.navmenu .list li:hover img,
footer.navmenu .list li.expanded img {
    content: url("../img/menu/down-white.png");
}

footer.navmenu .list li:hover img.expanded,
footer.navmenu .list li.expanded img.expanded {
    content: url("../img/menu/up-white.png");
}

footer.navmenu .list li:hover img:after,
footer.navmenu .list li.expanded img:after {
    content: url("../img/menu/down-white.png");
}

footer.navmenu .list li:hover img.expanded:after,
footer.navmenu .list li.expanded img.expanded:after {
    content: url("../img/menu/up-white.png");
}

footer.navmenu .list li a {
    line-height: 2.7em;
    height: 2em;
}

footer.navmenu .list .submenu {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 7em;
    left: 0;
    right: 0;
    padding: 0;
    background-image: url("../img/menu/submenu.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center 0;
}

footer.navmenu .list .submenu li {
    color: #fff;
    height: 1.6em;
    line-height: 0.8em;
    font-size: 1em;
    cursor: pointer;
    display: block;
}

footer.navmenu .list .submenu li a {
    color: white;
    font-size: 0.8em;
    line-height: 2em;
}


/*footer.navmenu .list .submenu li:hover:before {
    content: url("../img/menu/dot-white-left.png");
    margin-left: -70px;
    position: absolute;
}

footer.navmenu .list .submenu li:hover:after {
    content: url("../img/menu/dot-white-right.png");
    margin-right: 20px;
    position: absolute;
}
*/

@media screen and (max-width: 1120px) {
    .description {
        top: 0;
        left: 10px;
        right: 10px;
        font-size: 22px;
        height: 60px;
        line-height: 100px;
        z-index: 0;
    }
    .description .content {
        padding: 0 20px;
        line-height: 30px;
        margin-top: 18px;
    }
    .description .previous,
    .description .next {
        top: 0;
        height: 20px;
    }
}

@media screen and (max-height: 800px),
screen and (max-width: 1120px) {
    body {
        font-size: 8px;
    }
}

@media screen and (max-height: 650px),
screen and (max-width: 720px) {
    body {
        font-size: 6px;
    }
}

@media screen and (max-width: 480px) {
    /*MENU*/
    footer.navmenu .list > li {
        line-height: 35px;
        height: 40px;
        font-size: 20px;
    }
    footer.navmenu .list li img {
        height: 16px;
    }
    footer.navmenu .list .submenu {
        background-image: url("../img/menu/submenu_selected_mobile.png");
        height: 170px;
        padding: 20px 0 0 0;
    }
    footer.navmenu .list .submenu li {
        height: 35px;
        line-height: 20px;
        font-size: 16px;
    }
    footer.navmenu .list > li:active:before {
        content: url("../img/menu/dot-left_mobile.png");
    }
    footer.navmenu .list > li:active:after {
        content: url("../img/menu/dot-right_mobile.png");
    }
    footer.navmenu .logo {
        content: url("../img/menu/logo_mobile.png");
    }
    .menu {
        height: 55px;
    }
    .nav-button,
    .nav-button.active {
        display: none;
    }
    .nav-button.mobile,
    .nav-button.active.mobile {
        height: auto;
        display: block;
    }
    footer.navmenu {
        height: 110px;
        background-image: url("../img/menu/bg_pattern_mobile.png");
        background-size: cover;
    }
    footer.navmenu .cartoon {
        display: none;
    }
    footer.navmenu .cartoon-mobile {
        display: block;
    }
    footer.navmenu .logo {
        display: none;
    }
    footer.navmenu .logo-mobile {
        display: block;
    }
    .page-bg {
        display: none;
    }
    .page-bg-mobile {
        display: block;
    }
}
