a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    background-color: rgba(0, 0, 0, 0.37);
    margin: 0;
}


/* PAGES BG*/

.home {
    content: url("../img/pages/home/home.jpg");
}


/*Fonts*/

@font-face {
    font-family: CliveBarker;
    src: url("http://artemdesign.com/CliveBarker.ttf");
}

img.page-bg {
    min-height: 100%;
    position: fixed;
}


/*MENU*/

.nav-button {
    content: url("../img/menu/button.png");
}

.nav-button-active {
    content: url("../img/menu/button_active.png");
}

footer.navmenu {
    position: fixed;
    bottom: 0;
    height: 240px;
    width: 100%;
    background-image: url("../img/menu/bg_big.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
}

footer.navmenu .logo {
    position: absolute;
    bottom: 0;
    z-index: 3;
    content: url("../img/menu/logo_big.png");
}

footer.navmenu .logo a {
    height: 220px;
    margin-top: 20px;
    display: block;
}

.description {
    left: 230px;
    right: 330px;
    margin: 0 auto;
    height: 240px;
    font-family: CliveBarker;
    line-height: 300px;
    text-align: center;
    font-size: 64px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.description .previous,
.description .next {
    position: absolute;
    margin: auto 0;
    top: 50px;
    bottom: 0;
    cursor: pointer;
}

.description .previous {
    left: 0;
}

.description .next {
    right: 0;
}

footer.navmenu .cartoon {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 3;
    content: url("../img/menu/cartoon.png");
}

footer.navmenu .list .menu {
    position: absolute;
    right: 15px;
    top: 20px;
}

footer.navmenu .menu {
    bottom: 0;
    right: 10px;
    z-index: 4;
    position: absolute;
}


/* hide menu button when footer is expanded*/

footer.navmenu.animating > .menu,
footer.navmenu.active > .menu {
    display: none;
}

footer.navmenu .list {
    z-index: 1;
    list-style: none;
    font-family: CliveBarker;
    font-size: 54px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/menu/bg_full.png");
    margin: 0;
    padding: 0;
    padding-top: 65px;
    text-align: center;
}

footer.navmenu .list > li {
    margin: 0 auto;
    line-height: 130px;
    height: 110px;
}


/* footer.navmenu .list li:hover:before {
    content: url("../img/menu/dot-left.png");
    margin-right: 40px;
    position: relative;
}

footer.navmenu .list li:hover:after {
    content: url("../img/menu/dot-right.png");
    margin-left: 40px;
    position: relative;
} */

footer.navmenu .list > li:hover:before {
    content: url("../img/menu/dot-white-left.png");
    margin-left: 20px;
    position: relative;
}

footer.navmenu .list > li:hover:after {
    content: url("../img/menu/dot-white-right.png");
    margin-right: 20px;
    position: relative;
}

footer.navmenu .list > li:hover {
    background-image: url("../img/menu/menu_pink.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer.navmenu .list li:hover a {
    color: white;
}

footer.navmenu .list li img {
    content: url("../img/menu/down.png");
}

footer.navmenu .list .submenu {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    left: 0;
    right: 0;
    padding: 10px 0 0 0;
    background-image: url("../img/menu/submenu.png");
    background-repeat: no-repeat;
    background-position: center 0;
}

footer.navmenu .list .submenu li {
    font-size: 30px;
    color: #fff;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

footer.navmenu .list .submenu li:hover:before {
    content: url("../img/menu/dot-white-left.png");
    margin-left: -70px;
    position: absolute;
}

footer.navmenu .list .submenu li:hover:after {
    content: url("../img/menu/dot-white-right.png");
    margin-right: 20px;
    position: absolute;
}

footer.navmenu .list li img.expanded {
    content: url("../img/menu/up.png");
}

footer.navmenu .list li img {
    cursor: pointer;
    margin-left: 10px;
}

footer.navmenu .list li:hover img {
    content: url("../img/menu/down-white.png");
}

footer.navmenu .list li:hover img.expanded {
    content: url("../img/menu/up-white.png");
}

@media screen and (max-width: 480px) {
    /*MENU*/
    footer.navmenu .list > li {
        line-height: 35px;
        height: 40px;
        font-size: 20px;
    }
    footer.navmenu .list li img {
        height: 16px;
    }
    footer.navmenu .list .submenu {
        background-image: url("../img/menu/submenu_selected_mobile.png");
        height: 170px;
        padding: 20px 0 0 0;
    }
    footer.navmenu .list .submenu li {
        height: 35px;
        line-height: 20px;
        font-size: 16px;
    }
    footer.navmenu .list > li:before {
        content: url("../img/menu/dot-left_mobile.png");
    }
    footer.navmenu .list > li:active:before {}
    footer.navmenu .list > li:after {}
    footer.navmenu .list > li:active:after {}
    footer.navmenu .logo {
        content: url("../img/menu/logo_mobile.png");
    }
    .menu {
        height: 55px;
    }
    .nav-button {
        content: url("../img/menu/button_mobile.png");
    }
    .nav-button-active {
        content: url("../img/menu/button_active_mobile.png");
    }
    footer.navmenu {
        height: 110px;
        background-image: url("../img/menu/bg_pattern_mobile.png");
        background-size: cover;
    }
    footer.navmenu .cartoon {
        right: 35px;
        content: url("../img/menu/cartoon_mobile.png");
    }
    .description {
        top: 0;
        left: 10px;
        right: 10px;
        font-size: 22px;
        height: 60px;
        line-height: 100px;
        z-index: 0;
    }
    .description .content {
        padding: 0 20px;
        line-height: 30px;
        margin-top: 18px;
    }
    .description .previous,
    .description .next {
        top: 0;
        height: 20px;
    }
    .home {
        content: url("../img/pages/home/home_phone.jpg");
    }
}
