<div class="container-fluid help-you">
    <div class="row">
        <div class="col-xs-12 topText">
            <p>Do you have <span>an idea?</span> ...we all do!</p>
            <p>Is it a <span>creative</span> one, which</p>
            <p>you just <span>don't know how to express</span> and</p>
            <p>actually <span>shape up?</span></p>
            <p>Well, I might be just the thing for you!!</p>
        </div>
    </div>
    <div class="row actually-do">
        <div class="col-xs-12">
            <h1>What do I actually do?</h1>
        </div>
    </div>
    <div class="row categories">
        <div class="col-xs-12 col-sm-3 col-md-3 branding">
            <h1>
            	<a>Branding</a>
        	</h1>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 illustrations">
            <h1>
            	<a>
	            	<p>Illustrations, </p>
	            	<p>imagery and layout</p>
            	</a>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 artwork">
            <h1>
            	<a>Statement artwork</a>
        	</h1>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 lifestyle">
            <h1>
            	<a>Lifestyle design</a>
        	</h1>
        </div>
    </div>
    <div class="row details">
        <div class="col-xs-12 col-sm-6 col-md-6 are-you ">
            <h1>
    			<a ng-click="showAreYou = !showAreYou; showSpecs = false;">
    				<span>Are you ... ?</span>
    				<img ng-hide="showAreYou" class="link-caret" src="img/pages/help-you/down-white.png">    	
    				<img ng-show="showAreYou" class="link-caret" src="img/pages/help-you/up-red.png">    	
    			</a>    			
			</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 specs ">
            <h1>
    			<a ng-click="showSpecs = !showSpecs; showAreYou = false;">
    				<span>Specifications</span>
    				<img ng-hide="showSpecs" class="link-caret" src="img/pages/help-you/down-white.png">    	
    				<img ng-show="showSpecs" class="link-caret" src="img/pages/help-you/up-red.png">    
    			</a>  
			</h1>
        </div>
        <div class="col-xs-12 are-you-description slideDown" ng-show="showAreYou">
            <p>...a company looking for an original, out of the ordinary brand? ...or jtust some complementary materials to the one you already have?</p>
            <p>...the passionate gift giver, choosing one of a kind products?</p>
            <p>...in search of illustrating & visually organizing your portfolio, book, catalogue or any other content?</p>
            <p>...an art collector with interest in making a statement? ...or just wanting ‘something else’?</p>
            <p>...the person who likes to reflect it`s uniqueness in the world through wearable art?</p>
            <p>If the answer to any of the above is yes, pick your areas of interest to explore  ...and don`t hesitate to contact me :)</p>
        </div>
        <div class="col-xs-12 specs-description slideDown" ng-show="showSpecs">
            <p>Everything I create is considered an art object and it is to be treated as such</p>
            <p>I don`t do “copy this” type of projects</p>
            <p>I have the right to choose my projects, so usually the most artistically challenging ones prevail</p>
            <p>Every project is unique in it`s own way, so I can`t really standardize prices, they are established between the two parts after discussing project details (*exeption are the already for sale products)</p>
            <p>I concieve and create furniture, clothing, footwear or other decorative objects....they are unique and one of a kind, so I don`t do mass production</p>
            <p>Everything I concieve and create is made by myself, and art objects need time, so I don`t usually take urgent projects (it always depends)</p>
        </div>
    </div>
</div>
